name: Build

on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'
    - uses: gradle/gradle-build-action@v2
      with:
        arguments: runDatagenClient
    - uses: gradle/gradle-build-action@v2
      with:
        arguments: build
    - uses: actions/upload-artifact@v3
      with:
        path: build/libs
